@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  background-color: #637894;
}

.App-header {
  background-color: #282c34;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5rem;
  color: white;
}

.cardCont{
  border: 1px solid black;
}