@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: white;
}

.cardCont{
  border: 1px solid black;
}